.create, .rCr, .listMy ul,.newFile, .files-ul,.files-li, .btnDelFol, .addFil-inp,.listMy-li, .btnDelFol {
    display: flex;
}
.newFile {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.create {
    height: 8vh;
    align-items: center;
}
.lCr {
    font-family: var(--mont);
    font-weight: 500;
}
.rCr, .lCr, .myFolder, .foldCont {
    padding: 10px;
}
.rr {
    width: 80%;
    margin: 0px auto;
    background-color: var(--seagrn);
}
.rCr input {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid var(--seagrn);
    padding-left: 15px;
}
.rCr input:focus {
    outline: none;
    border: 1px solid goldenrod;
}
.rCr button, .filInp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--seagrn);
    color: white;
    background-color: var(--seagrn);
    margin-left: 5px;
    font-size: 20px;
}
.rCr button:hover, .filInp:hover, .viewBtn:hover {
    border: 1px solid var(--green);
    background-color: var(--green);
    cursor: pointer;
}
.lMy {
    font-family: var(--mont);
    font-weight: 600;
    margin-bottom: -10px;
    padding: 5px;
    font-size: 19px;
    color: rgb(46, 46, 46);
}
.listMy-li {
    list-style-type: none;
    margin: 5px 5px;
    padding: 5px;
    color: gray;
    background-color: var(--white);
    font-family: var(--ubu);
    flex-direction: column;
    align-items: center;
}
.listMy-li i {
    font-size: 30px;
}
.listMy-li:hover {
    color: var(--seagrn);
    cursor: pointer;
}
.listMy {
    margin-top: -10px;
}
.listMy ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    margin-bottom: 10px;
}
.newFile {
    padding: 10px;
}
.addFil {
    margin: 5px 20px 5px 0px ;
    font-family: var(--mont);
    font-weight: 500;
}
.addFil-inp {
    align-items: center;
}
input[type='file'] {
    width: 190px;
    border: 1px solid var(--seagrn);
    font-family: var(--main-font);
    padding: 5px;
    border-radius: 10px;
    height: 5vh;
}
.filInp {
    margin: 5px;
}
.files-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
}
.files-li {
    list-style-type: none;
    font-family: var(--main-font);
    width: 30%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    color: rgb(88, 87, 87);
    font-size: 16px;
    border-radius: 5px;
}
.viewBtn {
    background-color: var(--seagrn);
    border: 1px solid var(--seagrn);
}
.delBtn {
    background-color: var(--redP);
    border: 1px solid var(--redP);
}
.delBtn:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    cursor: pointer;
}
.delFol {
    background-color: var(--red);
    border: 1px solid var(--red);
    margin-left: 30px;
    font-size: 15px;
}
.delFol:hover {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}
.btns button, .delFol {
    margin-left: 2px;
    color: var(--white);
    border-radius: 5px;
}
.filename {
    width: 60%;
    height: 4vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.filename i {
    font-size: 20px;
}
.showInput {
    margin-left: 3px;
    padding: 5px;
    background-color: var(--seagrn);
    color: var(--white);
    width: 5px;
    height: 3px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.showInput:hover {
    background-color: var(--green);
    cursor: pointer;
}
.arrows {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 500;
}
.seeDel {
  color: red;
}
.seeDel:hover {
    cursor: pointer;
  }
.btnDelFol {
    width: 180px;
    height: 4vh;
    justify-content: space-between;
}