@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --white: #fff;
    --main-font: 'Rubik';
    --mont : 'Montserrat';
    --nun : 'Nunito';
    --ubu : 'Ubuntu Sans';
    --green : rgb(5, 182, 5);
    --seagrn : seagreen;
    --bg : rgb(135, 245, 183);
    --red : red;
    --redP : rgb(148, 47, 47);
}
* {
    box-sizing: border-box;
}
.App {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.App, .topbar {
    display: flex;
}
.right {
    background-color: var(--white);
    width: 100%;
}
.topbar {
    height: 8vh;
    background-color: var(--seagrn);
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    font-family: var(--mont);
}
